@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Pixelify+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --body-bg: #121314;
  --sidenav-bg: #1C1D22;
  --boxes-bg: #2C2E37;
  --main-red: #8E3943;
  --main-green: #73C6B6;
  --tan: #E4D6A7;
  --off-gray: #8390A5;
  --light-gray: #D5DBDB;
}

body{
  background-color: var(--body-bg);
}

/* homepage styling */
.main-container{
  text-align: center;
  margin: 30vh auto 20vh auto;
  overflow: hidden;
}

#tagline{
  color: var(--main-green);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

#headline{
  color: #fff;
  font-size: 72px;
}

#featurelist{
  color: #fff;
  font-size: 55px
}

#explanation{
  width: 600px;
  margin: 15px auto 50px auto;
  color: var(--off-gray);
  font-size: 22px;
  letter-spacing: 0;
  font-weight: 900;
}

.getstarted-btn{
  padding: 16px 40px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  border-radius: 0.3rem;
  background-color: var(--main-green);
  font-weight: 500;
  display: inline-block;
}

.getstarted-btn:hover{
  cursor: pointer;
  filter: hue-rotate(-10deg);
}

.typewrite{
  color: #92A6C4 !important;
  display: inline-block;
}
/* end homepage styling */

/* sidenav styling */

.sidenav{
  width: 50px;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #1C1D22;
  height: 100vh;
}

.sidenav a .icons{
  color: #fff;
  font-size: 20px;
  text-align: center;
  display: block;
  padding: 20px 10px;
  border-bottom: 1px solid #fff;
}

.sidenav a{
  text-decoration-line: none;
}

/* ---- END SIDENAV ---- */

/* ---- IMAGE ---- */

.image-container {
  margin-left: 10vw;
  margin-top: 50px;
  height: 40vh;
  position: relative;
  color: #fff;
  display: inline-block;
  width: 30vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #000;
  border-radius: 20px;
  background-image: url("https://spaceplace.nasa.gov/gallery-sun/en/solar-flare.en.jpg");
  overflow: hidden; /* Added to contain the pseudo-element */
}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: brightness(55%) saturate(140%);
  transition: opacity 0.5s ease;
  opacity: 0;
  z-index: 1;
}

.image-container:hover::before { /* The magic line */
  opacity: 1;
}

.image-container:hover {
  cursor: pointer;
  transition: 0.5s;
}

.src-text {
  font-size: 25px;
  width: 90%;
  position: absolute;
  bottom: 8px;
  left: 18px;
  opacity: 0;
  z-index: 200; /* Ensure text is above the overlay */
}

.img-container:hover .src-text {
  -webkit-animation: slide-up 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s forwards;
}

@-webkit-keyframes slide-up {
  0% { transform: translateY(80%); opacity: 1 }
  100% { transform: translateY(0); opacity: 1 }
}

/* END IMAGE */

/* ---- Text Container ----*/

.img-explain{
  background-color: var(--boxes-bg);
  margin-left: 10vw;
  margin-top: 50px;
  display: inline-block;
  width: 30vw;
  height: 40vh;
  border-radius: 0.4rem;
  position: relative;
  color: #fff;
}

.text{
  font-family: 'DM Sans', sans-serif;
  color: var(--off-gray);
  font-weight: 300;
  font-size: 14px;
  padding: 10px;
}

.whyunderstand, .whythismatters{
  width: 40vw;
  margin-left: 10vw;
  margin-top: 50px;
  background-color: var(--boxes-bg);
  border-radius: 0.4rem;
  position: absolute;
  display: inline-block;
  height: 40vh;
}

.whyunderstand .title, .whythismatters .title{
  font-size: 32px;
  color: #fff;
  padding: 10px;
}

/* every single image, manually coded in because I hate myself */

.geology{
  background-image: url("https://images.unsplash.com/photo-1484352491158-830ef5692bb3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") !important;
}

.freshwater{
  background-image: url("https://ecology.wa.gov/ecology/media/Images/RESEARCH-DATA/Monitoring-assessment/GroundwaterModel.jpg?ext=.jpg") !important;
}

.dynamearth{
  background-image: url("https://images.unsplash.com/photo-1506106487742-2baf007edcfb?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") !important;
}

.energy{
  background-image: url('https://images.unsplash.com/photo-1610720707798-6fe21dc165ba?q=80&w=2030&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
}

.climate{
  background-image: url('https://images.unsplash.com/photo-1454789476662-53eb23ba5907?q=80&w=1952&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
}

.biodiv{
  background-image: url('https://images.unsplash.com/photo-1524252500348-1bb07b83f3be?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
}

.weather{
  background-image: url('https://images.unsplash.com/photo-1500740516770-92bd004b996e?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
}

.ocean{
  background-image: url('https://images.unsplash.com/photo-1553570739-330b8db8a925?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
}

/* --- mobile things --- */

@media screen and (max-width: 300px){
  #headline{
    font-size: 40px !important;
  }
  .typewrite{
    display: block;
  }
  #explanation{
    width: 90vw !important;
    font-size: 12px;
  }

}